name: Compile

on:
  release:
    types: [published]

  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  build:
    name: Build on ${{ matrix.target }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: [self-hosted, linux, X64]
            target: Linux

          # M1
          - os: macos-14
            target: Macos

          # X86
          - os: macos-13
            target: Macos

          - os: windows-latest
            target: Windows

          - os: [self-hosted, linux, ARM64]
            target: Linux

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Python v3.12
        uses: actions/setup-python@v5
        if: ${{ matrix.target != 'Linux' }}
        with:
          python-version: 3.12

      # statix won't install in Windows nor we need it
      - name: Install dependencies
        run: |
          if [[ "$(uname -s)" =~ "Linux" ]]; then
            sudo apt-get update
            sudo apt-get -y install patchelf scons
          fi
          if [ -x /home/github/py312/bin/pip3 ]; then
            source /home/github/py312/bin/activate
            pip3 install wheel setuptools
            pip3 install staticx==0.14.1
            pip3 install wheel setuptools
          else
            pip3 install wheel setuptools
          fi

          pip3 install -r requirements.txt

      # nasty hack to use our local python is avaialble. The one provided by GitHub does not appear
      # to work for ARM64 Linux
      - name: Build binaries for cqlsh and keys_generator
        run: |
          if [ -x /home/github/py312/bin/pip3 ]; then
            source /home/github/py312/bin/activate
          fi

          mkdir -p dist

          if [[ "$(uname -s)" =~ "Linux" ]]; then
            mkdir -p dist/cqlsh-407-$(uname -s)-$(uname -m)
            pyinstaller --noconfirm --clean --noupx --onefile v6.0.0-ACv4.0.7/cqlsh.py -n cqlsh-407-dyn-$(uname -s)-$(uname -m)
            staticx dist/cqlsh-407-dyn-$(uname -s)-$(uname -m) dist/cqlsh-407-$(uname -s)-$(uname -m)/cqlsh-407-$(uname -s)-$(uname -m)

            mkdir -p dist/cqlsh-410-$(uname -s)-$(uname -m)
            pyinstaller --noconfirm --clean --noupx --onefile v6.1.0-ACv4.1.0/cqlsh.py -n cqlsh-410-dyn-$(uname -s)-$(uname -m)
            staticx dist/cqlsh-410-dyn-$(uname -s)-$(uname -m) dist/cqlsh-410-$(uname -s)-$(uname -m)/cqlsh-410-$(uname -s)-$(uname -m)

            mkdir -p dist/keys_generator-$(uname -s)-$(uname -m)
            pyinstaller --noconfirm --clean --noupx --onefile keys_generator/keys_generator.py -n keys_generator-dyn-$(uname -s)-$(uname -m)
            staticx dist/keys_generator-dyn-$(uname -s)-$(uname -m) dist/keys_generator-$(uname -s)-$(uname -m)/keys_generator-$(uname -s)-$(uname -m)
          else
            pyinstaller --noconfirm --clean --noupx v6.0.0-ACv4.0.7/cqlsh.py -n cqlsh-407-$(uname -s)-$(uname -m)
            pyinstaller --noconfirm --clean --noupx v6.1.0-ACv4.1.0/cqlsh.py -n cqlsh-410-$(uname -s)-$(uname -m)
            pyinstaller --noconfirm --clean --noupx keys_generator/keys_generator.py -n keys_generator-$(uname -s)-$(uname -m)
          fi
          rm -rf dist/*-dyn-*

          for target in cqlsh-407-$(uname -s)-$(uname -m) cqlsh-410-$(uname -s)-$(uname -m) keys_generator-$(uname -s)-$(uname -m); do
            (cd dist && tar cpf $(basename $target).tar $target)
          done

          ls -l dist/

      - name: Upload artifacts
        uses: softprops/action-gh-release@v2
        with:
          files: |
            dist/cqlsh*tar
            dist/keys_generator*tar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}